@model EduCavoFinal.Models.Blog

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Create Blog</h4>
                    <form asp-area="admin" asp-controller="blog" asp-action="create" method="post" class="forms-sample" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Title" class="control-label"></label>
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ImageFile" class="control-label"></label>
                            <input asp-for="ImageFile" class="form-control" />
                            <span asp-validation-for="ImageFile" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Content" for="text">Content</label>
                            <textarea asp-for="@Model.Content" type="text" class="form-control" id="Content" placeholder="Content"></textarea>
                            <span asp-validation-for="Content" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="AddedDate" class="control-label"></label>
                            <input asp-for="AddedDate" class="form-control" />
                            <span asp-validation-for="AddedDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CategoryId" class="control-label"></label>
                            <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                        </div>
                        <div class="form-group">
                            <label asp-for="UserId" class="control-label"></label>
                            <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                        </div>

                        <button type="submit" class="btn btn-success mr-2">Create</button>
                        <button asp-area="admin" asp-controller="blogs" asp-action="index" class="btn btn-light">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
